# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/

# Packaging / builds
*.egg-info/
dist/

# Logs
logs/
log/
*.log
uvicorn*.log

# Tests / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type-checkers / linters / caches
.mypy_cache/
.pytype/
.ruff_cache/
.cache/

# IDEs
.vscode/
.idea/

# Alembic
# (keep migrations! do NOT ignore app/alembic/versions)
# If you generate local artifacts, ignore them here:
app/alembic/*.sqlite

# Local config
.env
.env.*
!.env.example

# SQLite / local data
*.db
*.sqlite
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Media
files

docker-compose.override.yml
volumes
