version: "3.8"

volumes:
  volumes:

x-common-api:
  &default-common-api
  image: rue-api:latest
  build:
    context: .
    target: prod
  volumes:
    - volumes:/app/volumes
    - ./app:/app/app
  restart: on-failure

services:
  api:
    <<: *default-common-api
    container_name: rue-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - worker
  worker:
    <<: *default-common-api
    command: celery -A app.celery_app.celery worker --loglevel=info
    depends_on:
      - redis
  flower:
    <<: *default-common-api
    container_name: rue-flower
    command: celery -A app.celery_app.celery flower --port=5555
    ports:
      - "5555:5555"
    depends_on:
      - redis
  redis:
    image: redis:7
    container_name: rue-redis